<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxq.dao.JobLogMapper">
  <resultMap id="BaseResultMap" type="com.zxq.model.bo.JobLogBO">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="job_info_id" jdbcType="INTEGER" property="jobInfoId" />
    <result column="execute_status" jdbcType="INTEGER" property="executeStatus" />
    <result column="execute_params" jdbcType="VARCHAR" property="executeParams" />
    <result column="execute_fail_msg" jdbcType="VARCHAR" property="executeFailMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="consume_time" jdbcType="BIGINT" property="consumeTime" />
  </resultMap>
    <select id="selectJobLog" resultMap="BaseResultMap">
        SELECT
            jlog.*,
            jinfo.title,
            jgroup.name jobGroupName
        FROM
            schedule_job_log jlog
            LEFT JOIN schedule_job_info jinfo ON jlog.job_info_id = jinfo.id
            LEFT JOIN schedule_job_group jgroup ON jinfo.job_group_id = jgroup.id
        WHERE
            jlog.job_info_id = #{query.jobInfoId}
        ORDER BY
            jlog.create_time DESC
    </select>
</mapper>